body {
  overflow-x: hidden;
  overflow-y: inherit;
  margin: 0;
  font-size: 1rem;
}
html {
  font-size: 16px; /* Base size */
}


h1 {
  font-size: 2rem; /* Equals 32px */
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  right: 0;
  background: #39374838;

  z-index: 9998;
  /* Ensure the overlay is below the cart */
}

/* Add this CSS to your stylesheet */
.category-selected>.product-detail {
  display: none;

}

.add-to-cart-button:disabled {
  background-color: #ccc;
  /* Greyed-out color */
  cursor: not-allowed;
  /* Change cursor to indicate disabled */
}


.change-back-on-cart {
  width: 100%;
  height: 100%;
}

.categories-navbar {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  width: 100%;
  height: 80px;
  gap: 0px;

  opacity: 1;
  /* Ensure visibility */
  position: fixed;
  z-index: 1000;
  /* Keep it fixed on top */
  top: 0;
}
.icon-image {
  position: absolute; /* Tie it to product-box */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  opacity: 0;
cursor: pointer;
  z-index: 101; /* Ensure it's above product-box but below navbar */
}


.categories-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  top: 10%;
  margin-left: 101px;
}

.categories-overlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #FFFFFF;
  opacity: 0;
}

.green-shopping-container {
  display: flex;
  align-items: center;
  margin-right: 50%;
}

.green-shopping-image {

  width: 41px;
  height: 41px;
  margin-top: 10px;
  margin-right: 10%;
  transform: translateX(-50%);
  /* Add this line to horizontally center the icon */
  gap: 0px;
  opacity: 0px;

}

.add-to-cart-button {
  width: Fixed (292px);
  height: Hug (52px);
  margin-left: 3%;
  /* Fixed height */
  background-color: #5ECE7B;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #4CAF50;
  /* Change color on hover */
}

.categories-navbar.cart-open {
  background-color: white;
  /* Reset the background color */

  /* Reset the opacity */
}

.category {
  margin-right: 24px;
  font-size: 16px;
  margin-top: 5%;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  /* Add this line */
}

.category.active {
  font-size: 16px;
  color: #5ECE7B;
}

a:hover {
  color: #5ECE7B;
}
.category-page {
  position: relative; /* Create stacking context */
  z-index: 0;
}

.category-name-container {
  position: absolute;
}

.category-name {

  width: 154px;
  height: 68px;
  margin-top: 160px;
  margin-left: 135px;
  gap: 0px;
  opacity: 0px;

 
  font-family: Raleway;
  font-size: 42px;
  font-weight: 400;
  line-height: 67.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  

}

.category.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #5ECE7B;
  position: absolute;
  /* Add this line */
  top: 59px;
  /* Add this line */
}

.loading-spinner-container {
  width: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  /* Ensure the loading spinner is above other content */
}

.flex-fill {
  flex: 1;
}

.category-heading {
  font-family: Raleway;
  font-size: 42px;
  font-weight: 400;
  line-height: 67.2px;
  text-align: left;
}

.products-wrapper {
  width: Hug (386px)px;
  height: Hug (444px)px;
  top: 331px;
  left: 40px;

  gap: 0px;
  opacity: 0px;


}

.product-attributes {
  top: 0%;
}

.product-box {
  width: Hug(386px);
  height: Hug(444px);
  opacity: 0;
  margin-right: 50px;
  /* Add margin-right to create spacing between product boxes horizontally */
  box-shadow: 0px 4px 35px 0px transparent;
  transition: opacity 0.3s ease, box-shadow 0.3s ease;
  left: 100px;
  position: relative;
  z-index: 1; 
  overflow: hidden;
  
}




.product-box:hover {
  box-shadow: 0px 4px 35px 0px rgba(168, 172, 176, 0.19);

}

.product-image.greyed-out {
  filter: grayscale(100%) opacity(50%);
}

.Place-Order.disabled {
  background-color: #ccc;
  /* Greyed-out color */
  cursor: not-allowed;
  margin-left: 10%;

}

.product-image {
  width: 354px;
  height: 330px;
  gap: 0px;
  opacity: 0px;
  margin-left: 4%;
  margin-bottom: 10px;
  background: transparent;
  transition: transform 1s ease;
  position: relative;
  /* Remove background */
}

.order-loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Ensure it's on top */
}

.order-loading-content {
  text-align: center;
  color: #fff;
}

.order-loading-content p {
  margin-top: 20px;
  font-size: 18px;
}

.animate-to-cart {
  transform: scale(0.1);
  position: absolute;
  z-index: 9999;
}

.background-overlay .product-image {
  /* Styles to apply when background-overlay is active */
  background: #393748c7;
  opacity: 0.4;
}

.product-info {
  width: 292px;
  height: 541px;
  top: 160px;
  left: 903px;
  gap: 0px;
  opacity: 0px;

  padding: 20px;
  /* Add padding to create space between content and border */
  box-sizing: border-box;
  /* Include padding and border in the total width and height */
}


.product-box:hover .icon-image {
  width: 52px;
height: 52px;
top: 313px;
left: 320px;
gap: 0px;
opacity: 0px;

}


.product-details {
  width: 354px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 0 20px;
}

.product-name {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 300;
  line-height: 28.8px;
  text-align: left;
  opacity: 0.7;
}

.product-price {


  font-family: Raleway;
  font-size: 18px;
  font-weight: 400px;
  line-height: 28.8px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  

}

.out-of-stock {
  width: 173px;
  height: 39px;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
  margin-bottom: 10px;
  padding: 0 20px;
  opacity: 0.5;
  position: absolute;
  top: 146px;

  color: #8D8F9A;

}

.Cart-icon-Container {
  margin-right: 20px;

}

.product-name-cart {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 300;
  line-height: 28.8px;
  width: 136px;

  gap: 0px;
  opacity: 1;

  width: 160px;
  height: 29px;
  gap: 0px;
  opacity: 0px;

  text-align: left;
  color: #1D1F22;
  padding-bottom: 10%;
}

.mybag {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  text-align: right;
  color: #1D1F22;

}

.mybag-quantity-wrapper {
  display: flex;
  align-items: center;
  margin-left: 12%;


}

.quantity-button {
  width: 24px;
  height: 24px;
  font-size: 16px;
  background-color: transparent;
  border: none;

  cursor: pointer;
  border: 1px solid #1D1F22
}

.inc-dec {
  margin-left: 140px;
  /* Push quantity controls to the bottom */

}

.quantity-controls {

  flex-direction: column;
  /* Align items vertically */
  justify-content: space-between;
  width: Fixed (293px)px;
  height: Hug (164px)px;
  gap: 8px;
  opacity: 0px;
  margin-left: 30px;
  margin-top: -129px;
}

.quantity-controls-Exception {

  flex-direction: column;
  /* Align items vertically */
  justify-content: space-between;
  width: Fixed (293px)px;
  height: Hug (164px)px;
  gap: 8px;
  opacity: 0px;

  margin-top: -25px;
}

.product-price-cart-exception {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;

  position: absolute;
  margin-top: -5.5%;
}

.quantity-controls-height-exception {
  width: Fixed (293px)px;
  height: Hug (164px)px;
  margin-top: -165px;
}

.quantity-value {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: right;
}




.quantity-bag {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  /* This will apply only to the item count */
  line-height: 25.6px;
  text-align: right;
}

.product-price-cart {

  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  text-align: left;

  position: absolute;
  margin-top: -12%;
}

p.price-value {
  width: 86px;
  height: 46px;
  top: 440px;
  margin-left: 4%;
  gap: 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  

}

.product-image-container {
  width: 575px;
  height: 478px;
  gap: 0px;
  opacity: 0;

}

img {
  width: 100%;
  height: 100%;
  /* Make it fill the container */
  object-fit: contain;
  /* This will crop the image to fit the container */

}

.product-image-container img {
  width: 100%;
  height: 100%;

}

.product-detail {
  width: 976px;
  height: 541px;
  top: 160px;
  left: 219px;
  position: absolute;
  display: flex;
  align-items: flex-start;
}

.product-images-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;


  /* Adjust gap between images and product info */
}

.main-image-container {
  width: 575px;
  height: 478px;
  gap: 0px;
  opacity: 0;
}

img.main-image {
  width: 100%;
  height: 100%;
  
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  cursor: pointer;
}

.thumbnail.selected {
  border: 2px solid rgba(180, 180, 195, 0.626);
}

.main-image-container {
  position: relative;
  width: 575px;
  height: 478px;
  overflow: hidden;
}

.main-image {
 
  width: 1285.76px;
height: 523.45px;
top: -45.45px;
left: -23.96px;
gap: 0px;
opacity: 0px;

}


.attribute-label {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  width: 30px;
  height: 16px;
  gap: 0px;
  opacity: 0px;

}


.attribute-label-Size {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
  
  width: 30px;
  height: 16px;
  gap: 0px;
  opacity: 0px;
  margin-top: 20%;
  
}
.decrement{
  margin-top:-10%;
}
.attribute-label-capacity {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 30px;
  height: 16px;
  gap: 0px;
  opacity: 0px;
  margin-top: 6%;
}

.null-attributes {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* Adjust as needed */
  padding: 20px;
  border: 1px dashed #ccc;
  /* Optional: Visual cue */
  background-color: #f9f9f9;
  /* Optional: Background color */
  color: #666;
  /* Optional: Text color */
  font-style: italic;
  /* Optional: Italic text */
  margin-top: 30%;
}

.attribute-label-Options {
  font-family: Roboto Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 30px;
  height: 16px;
  gap: 0px;
  opacity: 0px;
  margin-top: 10%;
}

.attribute-values-options {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 2%;
}

.attribute-wrapper-options {
  margin-top: 5%;
  height: 100%;
}

.attribute-label-Tech {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 90px;
  height: 16px;
  gap: 0px;
  opacity: 0px;
  margin-top: 0%;
}

.attribute-label-USB {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
  width: 160px;
  height: 16px;
  gap: 0px;
  opacity: 0px;
  margin-top: -4%;

}

.attribute-label-Touch {
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 160px;
  height: 16px;
  gap: 0px;
  opacity: 0px;
  margin-top: -3%;
}

.product-div {
  width: Hug (293px)px;
  height: Hug (489px)px;

  opacity: 0px;


}



.attribute-container {
  display: flex;
  flex-direction: column;
  /* Allow attributes to wrap to the next line */

  /* Make the size boxes display beside each other */
  width: Hug (68px);
  height: Hug (44px);
  gap: 8x;
  opacity: 0px;

}

.attribute-wrapper-USB {

  margin-top: 0%;
  height: 100%;
  /* Adjust this value to control the space */

}

.categories-navbar.cart-open {
  background-color: white;
  /* Remove or modify this rule */
}

.size-box {
  width: 63px;
  height: 45px;
  /* Add margin between boxes */
  top: 245px;
  left: 1053px;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: center;
  border: 1px solid #1D1F22;
  background-color: #FFFFFF;
  color: #1D1F22;
}

.touch-id {
  width: 63px;
  height: 45px;
  /* Add margin between boxes */
  top: 245px;
  left: 1053px;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: center;
  border: 1px solid #1D1F22;
  background-color: #FFFFFF;
  color: #1D1F22;
}

.selected-size-cart {
  width: 24px;
  height: 24px;
  border: 1px solid #1D1F22;
  color: #1D1F22;
  /* Initial text color */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.5;
  /* Adjust opacity as needed */
  transition: background-color 0.3s, color 0.3s;
  /* Smooth transition for hover effect */
}

.selected-capacity-cart {
  width: auto;
  height: 24px;
  border: 1px solid #1D1F22;
  color: #1D1F22;
  /* Initial text color */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.5;
  /* Adjust opacity as needed */
  transition: background-color 0.3s, color 0.3s;
  /* Smooth transition for hover effect */
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: center;
}

.selected-color-cart {
  width: 16px;
  height: 16px;
  top: 2px;
  left: 52px;
  gap: 0px;
  border: solid 1px black;

}



.selected-color-cart:hover {
  width: 16px;
  height: 16px;
  pointer-events: auto;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  color: #1D1F22;
  cursor: pointer;
}

.selected-color-cart.active {
  border: 1px solid #5ECE7B;

  width: 20px;
  height: 20px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;

}

.selected-capacity-cart:hover {
  width: auto;
  height: 24px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #1D1F22;
  color: #1D1F22;
}

.selected-capacity-cart.active {
  background-color: #1D1F22;
  border: 1px solid #1D1F22;
  color: #FFFFFF;
  opacity: 0;
  width: auto;
}


.selected-size-cart.active {
  background-color: #1D1F22;
  border: 1px solid #1D1F22;
  color: #FFFFFF;
  opacity: 0;
}

.size-box:hover {
  background-color: #1D1F22;
  border: 1px solid #1D1F22;
  color: #FFFFFF;
  opacity: 0;
  /* Show box on hover */
  cursor: pointer;

}

.size-box.active {
  background-color: #1D1F22;
  border: 1px solid #1D1F22;
  color: #FFFFFF;
  opacity: 0;
}

.size-box:last-child {
  margin-right: 0;
  /* Remove margin from the last box */
}


.main-image-container:hover .prev-button,
.main-image-container:hover .next-button {
  opacity: 0;
}

.color-box-container {
  display: flex;
  gap: 5px;
}

.color-box {
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.color-box:hover {
  transform: scale(1.1);
}

.attribute-box {
  display: inline-block;
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin-right: 10px;

  /* Add margin between boxes */
}

.attribute-box.white {
  border: 2.5px solid #000;
  /* Black border */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  /* Subtle shadow */
}

p.attribute-name {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  width: 50px;
  height: 18px;
  top: 219px;
  margin-left: 4%;
  gap: 0px;
  opacity: 0px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.6px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: inline;

  /* Apply vertical elongation */
  transform: scaleY(1.5); /* Elongate vertically (1.5 times the original height) */
}


.attribute-wrapper {
  margin-top: -5%;
  height: 100%;
  /* Adjust this value to control the space */
}

.attribute-wrapper-capacity {
  margin-top: -5%;
  height: 100%;
  /* Adjust this value to control the space */
}

.attribute-wrapper-Touch {
  margin-top: -15%;
  height: 100%;
  /* Adjust this value to control the space */
}

.attribute-values-PDP {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: Fixed (292px);
  height: Hug (52px);

}

.price-out-of-stock {
  width: 58px;
  height: 29px;
  gap: 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: right;
  color: #8D8F9A;

}

.attribute-values-PDP {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 200%;
  padding: 10px;

}

.attribute-wrapper-size {
  margin-top: -5%;
  height: 50px;
  /* Adjust this value to control the space */
}

.attribute-values-size {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 5%;
}

.attribute-values-USB {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: -10%;
}

.attribute-values-Touch {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 6%;

}

.attribute-values-Color {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;


  /* Adjust spacing between items */
}

.attribute-values-Capacity {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: -8%;

  /* Adjust spacing between items */
}

.product-name-pdp {
  width: 292px;
  height: 27px;
  top: 160px;
  margin-left: 3%;
  gap: 0px;
  opacity: 0px;
  font-family: Raleway;
  font-size: 30px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}

.attribute-item {
  justify-content: center;
  align-items: center;


}

.attribute-item-color {
  justify-content: center;
  align-items: center;


}

.attribute-box:hover {
  background-color: #eef3ef;
  border-color: #5ECE7B;
  width: 32px;
  height: 32px;
  /* Border color changes on hover */
}

.attribute-box:last-child {
  margin-right: 0;

  /* Remove margin from the last box */
}

.attribute-container {
  display: flex;

  /* Make the size boxes display beside each other */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  /* Fix the navbar position */
  top: 0;
  /* Position it at the top of the viewport */
  width: 100%;
  background-color: #ffffff;
  padding: 10px 20px;
  z-index: 1000;
  /* Ensure it appears above other content */
}

.categories-list-navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.size-box {
  width: 63px;
  height: 45px;
  margin-right: 10px;
  /* Add margin between size boxes */
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: center;
  border: 1px solid #1D1F22;
  background-color: #FFFFFF;
  color: #1D1F22;
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
}

.size-box:hover {
  background-color: #1D1F22;
  border: 1px solid #1D1F22;
  color: #FFFFFF;
  opacity: 0;
  /* Show box on hover */
}

.product-description {
  width: 292px;
  height: 103px;
  top: 598px;
  margin-left: 4%;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.59px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.size-box:last-child {
  margin-right: 0;
  /* Remove margin from the last size box */
}

.color-box-container {
  display: flex;
  gap: 10px;
  /* Add spacing between color boxes */
}

.color-box {
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.color-box:hover {
  transform: scale(1.1);
}

.attribute-box {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 10px;

  /* Add margin between color boxes */
}

.attribute-box.active {
  width: 36px;
  height: 36px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #5ECE7B
}

.attribute-box:hover {
  background-color: #eef3ef;

  border-color: #5ECE7B;
  /* Border color changes on hover */
  width: 32px;
  height: 32px;
}

.totalValueContainer {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  display: flex;
  left: 194px;
  margin-right: 11%;
  margin-top: 20%;
  justify-content: space-between;
  /* To space out Total and the value */
}

.totalValueContainer span:first-child {
  font-family: Roboto;
  /* Change font-family for "Total" */
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  width: 55px;
  height: 19px;
  gap: 0px;
  opacity: 0px;
  color: #1D1F22;
  ;
}

.attribute-box:last-child {
  margin-right: 0;
  /* Remove margin from the last color box */
}

/* Add border to the arrow buttons */
.prev-button,
.next-button {
  border: 1.5px solid #FFFFFF;
  /* Set border style */

}

/* Additional styling for the arrow buttons */
.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color:#000000BA;
  color: #FFFFFF;

  padding: 10px;
  cursor: pointer;
  opacity: 0px;
  height: 32px;
  width: 32px;
  border: 1.5px solid #FFFFFF;
}


.next-arrow{
margin-top:-25%;
margin-left:12%;

}
.previous-arrow{
  margin-top:-25%;
  margin-left:-20%;
}


.arrow-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart-icon {
  position: relative;
  margin-right: 101px;
  /* Adjust as needed */
  height: 20px;
  width: 20px;
  padding: 0;
  margin-bottom: 20px;
  /* Adjust as needed */
  gap: 22px
}

.cart-icon-container {
  position: fixed;
  /* Adjust the top position as needed */
  margin-right: 45px;
  /* Adjust the right position as needed */
  height: 20px;
  width: 20px;
  padding: 0;
  margin-top: 10px;

}

.product-cart-box {
  width: Fixed(293px);
  height: Hug(164px);
  gap: 8px;
  opacity: 0px;
  margin-left: 2%;
  gap: 8px;
  opacity: 0px;
  align-items: stretch;
  /* Ensure they stretch to the same height */


}

.cart-item-details {
  flex-grow: 1;
  width: Hug (164px)px;
  height: Hug (167px)px;
  gap: 4px;
  opacity: 0px;
  margin: 0;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  /* Align items to the start */
  flex-direction: column;

}

.cart-item-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.cart-details-box {

  /* Adjust the margin as needed */
  width: Hug (136px)px;
  height: Hug (167px)px;
  gap: 8px;
  opacity: 0px;
  margin-left: -5%;


}

.cart-item-price {
  color: #666;
  margin-bottom: 10px;
}

.currency-selector {
  margin-left: 80%;
  top: 7%;
  width: 8%;
  position: fixed;
  border-radius: 8px;
  padding: 6px 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: all 0.3s ease;
  /* Smooth transition */
  border: #ccc;
  /* Border for clarity */
}

.item-count-bubble {
  position: absolute;
  top: 70%;
  left: 1%;
  font-size: 8px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  /* Choose your desired background color */
  color: white;
  /* Choose your desired text color */
  width: 12px;
  /* Adjust width and height as needed */
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Total-Strong {
  font-weight: bolder;
}

.cart-item-image {
  width: Hug(121px);
  height: Hug(167px);

  opacity: 0px;



  border: 27px;
  margin-left: 55%;
  /* Add some spacing between image and details */
  /* Ensure image has rounded corners */
  padding-bottom: 1.2%;
}



.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item-details {
  flex: 1;
  margin-top: -90px;
}

.cart-box {
  position: absolute;
  margin-top: 1.5%;
  /* 10% of the viewport height */
  left: 65vw;
  /* 72% of the viewport width */
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 2%;
  /* Percentage of the width */
  width: Hug(325px);
  /* 90% of the viewport width */
  height: Hug(628px);
  /* 80% of the viewport height */
  max-height: 80vh;
  /* Maximum height */
  z-index: 999;
  display: flex;
  gap: 32px;
  /* Percentage of the width */
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  /* Enable y-axis scrolling */
  overflow-x: hidden;
  /* Hide x-axis scrolling */

}

/* Media Query for Smaller Screens */



.cart-box::-webkit-scrollbar {
  width: 5px;
  /* Set the width of the scrollbar */
}

.cart-box::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the scrollbar thumb */
  border-radius: 5px;
  /* Border radius of the thumb */
}

.products-container {

  width: Hug (293px)px;
  height: Hug (489px)px;
  gap: 32px;
  opacity: 0px;
  flex-grow: 1;


}

.Place-Order {
  background-color: #5ECE7B;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 292px;
  height: 43px;
  margin: 0;
  /* Ensure no external margins */
  padding: 0;
  /* Add if needed, but ensure it doesn't push other elements */
  opacity: 0;
  /* Ensure opacity is not 0 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Center text vertically */
  gap: 12px;
  /* Correct 'Gap' to 'gap' */
}



.Place-Order-Container {
  gap: 12px;
  width: 100%;
  margin-right: 35px;
  display: flex;
  margin-top: auto;
  /* Push the button to the bottom of cart-box */
}

/* CSS for Categories Container */
.categories-container {
  display: block;
}

/* CSS for Categories Container when active */
.categories-container.active {
  display: none;
}

/* CSS for Product Detail Page */
.product-detail-page {
  display: none;
}

/* CSS for Product Detail Page when active */
.product-detail-page.active {
  display: block;
}

.mybag-container {
  position: fixed;
  overflow-y: auto;
  /* Enable y-axis scrolling */
  overflow-x: hidden;
  /* Hide x-axis scrolling */
}
/* For mobile devices in landscape mode */
@media (max-width: 1000px) and (orientation: landscape) {
  .product-box {
    max-width: 100%;
  }

  .attribute-name {
    margin-left: 13%;
  }

  .product-name-pdp {
    margin-left: 5%;
  }

  .price-value {
    margin-left: 13%;
  }

  .products-wrapper {
    margin-left: -15%;
  }

  .product-info {
    margin-left: 50%;
  }

  .product-detail {
    width: 100%;
    left: 0;
    flex-direction: column;
  }

  .add-to-cart-container {
    width: 80vh;
    align-items: center;
    right: 50%;
  }

  .product-cart-box {
    margin-left: 3%;
  }

  .thumbnail {
    width: 80px;
    height: 80px;
  }

  .size-box {
    flex-wrap: wrap;
    gap: 12px;
    width: 50px;
    height: 40px;
    opacity: 0;
  }

  .color-box {
    width: 30px;
    height: 30px;
  }

  /* Make sure the image fully scales without clipping */
  img.main-image {
    width: 100%;
    height: auto;
    margin-top:10%;
    object-fit: contain;
    /* Ensures the entire image is visible */
  }

  /* Optional: If the parent container has restricted width/height */
  .product-images-container {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
  }

  .currency-selector {
    margin-left: 62%;
    top: 6.5%;
    width: 17%;
    position: fixed;
    border-radius: 8px;
    padding: 10px 9px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.3s ease;
    border: #ccc;
    font-size: 10px;
  }

  .cart-icon {
    margin-left: 16%;
  }
  .cart-box{
    left:68%;
    top:20%;
  }
  .Place-Order{
    margin-bottom:20%;
  }
  body{
    overflow-x: visible;
  }

}

@media (max-width: 1300px) and (orientation: landscape) {
  .product-box {
    max-width: 100%;
  }

  .attribute-name {
    margin-left: 13%;
  }

  .product-name-pdp {
    margin-left: 5%;
  }

  .price-value {
    margin-left: 13%;
  }

  .products-wrapper {
    margin-left: -15%;
  }

  .product-info {
    margin-left: 40%;
  }

  .product-detail {
    width: 100%;
    left: 0;
    flex-direction: column;
  }

  .add-to-cart-container {
    width: 80vh;
    align-items: center;
    right: 50%;
  }

  .product-cart-box {
    margin-left: 3%;
  }

  .thumbnail {
    width: 80px;
    height: 80px;
  }

  .size-box {
    flex-wrap: wrap;
    gap: 12px;
    width: 50px;
    height: 40px;
    opacity: 0;
  }

  .color-box {
    width: 30px;
    height: 30px;
  }

  /* Make sure the image fully scales without clipping */
  img.main-image {
    width: 100%;
    height: auto;
    margin-top:10%;
    object-fit: contain;
    /* Ensures the entire image is visible */
  }

  /* Optional: If the parent container has restricted width/height */
  .product-images-container {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
  }

  .currency-selector {
    margin-left: 62%;
    top: 6.5%;
    width: 17%;
    position: fixed;
    border-radius: 8px;
    padding: 10px 9px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.3s ease;
    border: #ccc;
    font-size: 10px;
  }

  .cart-icon {
    margin-left: 16%;
  }
  .cart-box{
    left:65%;
    top:20%;
  }
  .Place-Order{
    margin-bottom:20%;
  }
  body{
    overflow-x: visible;
  }

}

/* For Galaxy A05s and similar small screens in landscape mode */
@media (max-width: 390px) and (orientation: landscape) {
  .add-to-cart-button {
    width: 292px;
    height: 52px;
    margin-left: 3%;
    background-color: #5ECE7B;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .currency-selector {
    margin-left: 55%;
    top: 40%;
    width: 15%;
    position: absolute;
    border-radius: 8px;
    padding: 10px 9px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.3s ease;
    border: #ccc;
    font-size: 10px;
  }

  .cart-icon {
    position: relative;
    margin-right: 5%;
    height: 30px;
    width: 30px;
    padding: 0;
    margin-bottom: 20px;
    gap: 22px;
  }

  .item-count-bubble {
    position: absolute;
    top: 50%;
    margin-left: 40%;
    font-size: 8px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-info {
    margin-left: 2%;
    margin-top: 5%;
    padding: 60px;
  }

  .add-to-cart-button {
    margin-left: 10%;
    background-color: #5ECE7B;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}

/* Common styles for smaller devices */
@media (max-width: 800px) {
  .product-box {
    max-width: 100%;
  }

  .attribute-name {
    margin-left: 13%;
  }

  .product-name-pdp {
    margin-left: 13%;
  }

  .price-value {
    margin-left: 13%;
  }

  .products-wrapper {
    margin-left: -15%;
  }

  .product-info {
    margin-left: 50%;
  }

  .product-detail {
    width: 100%;
    left: 0;
    flex-direction: column;
  }

  .add-to-cart-container {
    width: 80vh;
    align-items: center;
    right: 50%;
  }

  .product-cart-box {
    margin-left: 3%;
  }

  .thumbnail {
    width: 80px;
    height: 80px;
  }

  .size-box {
    flex-wrap: wrap;
    gap: 12px;
    width: 50px;
    height: 40px;
    opacity: 0;
  }

  .color-box {
    width: 30px;
    height: 30px;
  }



  /* Make sure the image fully scales without clipping */
  img.main-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    /* Ensures the entire image is visible */

  }

  /* Optional: If the parent container has restricted width/height */
  .product-images-container {
    width: 100%;
    /* or set a specific max-width */
    height: auto;
    /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
  }


  .currency-selector {
    margin-left: 62%;
    top: 6.5%;
    width: 17%;
    position: fixed;
    border-radius: 8px;
    padding: 10px 9px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.3s ease;
    border: #ccc;
    font-size: 10px;
  }

  .cart-icon {
    margin-left: 16%;
  }

}


/* For Galaxy A05s in Portrait mode */
@media (min-width: 0px) and (max-width: 390px) {


  p {
    font-size: 20px;
  }

  .add-to-cart-button {
    width: Fixed (292px);
    height: Hug (52px);
    margin-left: 3%;
    /* Fixed height */
    background-color: #5ECE7B;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .currency-selector {
    margin-left: 55%;
    top: 40%;
    max-width: 15%;
    margin-top: 0%;
    position: absolute;
    border-radius: 8px;
    padding: 10px 9px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.3s ease;
    border: #ccc;
    font-size: 10px;
  }

  .categories-list {
    padding: 0px;
    margin-left: 0%;
  }

  a.category {
    font-size: 13px;
  }

  a.category.active {
    font-size: 13px;
  }

  .cart-icon {
    position: relative;
    margin-right: 5%;
    /* Adjust as needed */
    height: 30px;
    width: 30px;
    padding: 0;
    margin-bottom: 20px;
    /* Adjust as needed */
    gap: 22px;
  }

  .item-count-bubble {
    position: absolute;
    top: 50%;
    margin-left: 40%;
    font-size: 8px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    /* Choose your desired background color */
    color: white;
    /* Choose your desired text color */
    width: 10px;
    /* Adjust width and height as needed */
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  .pdp-cart-style {
    left: 51.5%;
    top: 10%;
  }

  .cart-box {
    margin-left: -35%;
    margin-top: 6%;
    min-width: auto;
    min-height: auto;
  }

  img.main-image {
    min-height: 100%;
    min-width: 100%;
  }

  .attribute-name {
    font-size: 22px;


  }

  .product-name-pdp {
    font-size: 25px;
  }

  .product-images-container {
    min-width: 100%;
    margin-left: 3%;
  }

  .price-value {
    font-size: 22px;
  }

  .size-box {
    width: 63px;
    height: 45px;
    /* Add margin between boxes */
    top: 245px;
    left: 1053px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    border: 1px solid #1D1F22;
    background-color: #FFFFFF;
    color: #1D1F22;
  }

  .product-description {
    margin-left: 18%;
  }

  .product-info {
    margin-left: 2%;
    margin-top: 5%;
    padding: 60px;
  }

  .Button-Container {
    width: 30vh;
  }

  .add-to-cart-button {

    height: Hug (52px);
    margin-left: 10%;
    /* Fixed height */
    background-color: #5ECE7B;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .attribute-values-PDP {
    padding: 20px;
  }
}
@media (min-width: 360px) and (max-width: 376px) {


  p {
    font-size: 20px;
  }

  .add-to-cart-button {
    width: Fixed (292px);
    height: Hug (52px);
    margin-left: 3%;
    /* Fixed height */
    background-color: #5ECE7B;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .currency-selector {
    margin-left: 55%;
    top: 40%;
    max-width: 15%;
    margin-top: 0%;
    position: absolute;
    border-radius: 8px;
    padding: 10px 9px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.3s ease;
    border: #ccc;
    font-size: 10px;
  }

  .categories-list {
    padding: 0px;
    margin-left: 0%;
  }

  a.category {
    font-size: 13px;
  }

  a.category.active {
    font-size: 13px;
  }

  .cart-icon {
    position: relative;
    margin-right: 5%;
    /* Adjust as needed */
    height: 30px;
    width: 30px;
    padding: 0;
    margin-bottom: 20px;
    /* Adjust as needed */
    gap: 22px;
  }

  .item-count-bubble {
    position: absolute;
    top: 50%;
    margin-left: 40%;
    font-size: 8px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    /* Choose your desired background color */
    color: white;
    /* Choose your desired text color */
    width: 10px;
    /* Adjust width and height as needed */
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  .pdp-cart-style {
    left: 51.5%;
    top: 10%;
  }

  .cart-box {
    margin-left: 0%;
    margin-top: 6%;
    min-width: auto;
    min-height: auto;
  }

  img.main-image {
    min-height: 100%;
    min-width: 100%;
  }

  .attribute-name {
    font-size: 22px;


  }

  .product-name-pdp {
    font-size: 25px;
  }

  .product-images-container {
    min-width: 100%;
    margin-left: 3%;
  }

  .price-value {
    font-size: 22px;
  }

  .size-box {
    width: 63px;
    height: 45px;
    /* Add margin between boxes */
    top: 245px;
    left: 1053px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    border: 1px solid #1D1F22;
    background-color: #FFFFFF;
    color: #1D1F22;
  }

  .product-description {
    margin-left: 18%;
  }

  .product-info {
    margin-left: 2%;
    margin-top: 5%;
    padding: 60px;
  }

  .Button-Container {
    width: 30vh;
  }

  .add-to-cart-button {

    height: Hug (52px);
    margin-left: 10%;
    /* Fixed height */
    background-color: #5ECE7B;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .attribute-values-PDP {
    padding: 20px;
  }
}


@media (min-width:359px) and (max-width:500px) {

  .add-to-cart-button {
    width: 28vh;
    height: Hug (52px);
    margin-left: 15%;
    /* Fixed height */
    background-color: #5ECE7B;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .currency-selector {
    margin-left: 50%;
    top: 40%;
    width: 17%;
    margin-top: 0%;
    position: absolute;
    border-radius: 8px;
    padding: 10px 9px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.3s ease;
    border: #ccc;
    font-size: 10px;
  }

  .product-name-pdp {
    margin-left: 12%;
  }

  p {

    font-size: 20px;
  }

  .pdp-cart-style {
    margin-left: 1.5%;
    top: 8.5%;
  }

  .cart-box {
    left: 16%;

    margin-top: 6%;

  }

  a.category {
    font-size: 13px;
  }

  a.category.active {
    font-size: 13px;
  }

  .cart-icon {
    position: relative;
    margin-right: 10%;
    /* Adjust as needed */
    height: 30px;
    width: 30px;
    padding: 0;
    margin-bottom: 20px;
    /* Adjust as needed */
    gap: 22px
  }

  .item-count-bubble {
    position: absolute;
    top: 50%;
    margin-left: 40%;
    font-size: 8px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    /* Choose your desired background color */
    color: white;
    /* Choose your desired text color */
    width: 10px;
    /* Adjust width and height as needed */
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img.main-image {
    min-height: auto;
    min-width: auto;
    margin-left: 3%;

  }

  p.attribute-name {
    font-size: 16px;
    min-width: 100%;
    margin-left: 12%;

  }

  h2.product-name-pdp {
    font-size: 20px;
    margin-left: 12%;
  }

  .categories-list {
    margin-left: 0%;
    padding: 0px;
  }

  .cart-icon {
    margin-right: 7%;
  }

  img.main-image {
    min-height: 100%;
    min-width: 100%;

  }

  .product-images-container {
    min-width: 100%;

    margin-left: 2%;
  }

  .size-box {
    width: 63px;
    height: 45px;
    /* Add margin between boxes */
    top: 245px;

    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    border: 1px solid #1D1F22;
    background-color: #FFFFFF;
    color: #1D1F22;
  }


  .product-info {
    margin-left: 0%;
    margin-top: 20%;
    padding: 60px;
  }


  .attribute-values-PDP {
    padding: 20px;
  }

  p.price-value {
    font-size: 20px;
    margin-left:12%;
  }

}

@media (min-width:630px) and (max-width:800px) {
  .cart-box {
    margin-left: -30%;
    margin-top: 2.5%;
  }

  .attribute-name {
    margin-left: 13%;
  }

  .product-name-pdp {
    margin-left: 13%;
  }

  .price-value {
    margin-left: 13%;
  }
}

@media (min-width:580px) and (max-width:800px) {
  .cart-box {
    margin-top: 1%;
    left: 82%;
  }
}

@media (min-width:500px) and (max-width:770px) {
  div.product-info {
    margin-left: 25%;
  }

}

@media (min-width:770px) and (max-width:800px) {
  div.product-info {
    margin-left: 25%;
  }

  .product-images-container {
    margin-left: 0%;
  }
}

@media (min-width:490px) and (max-width:769px) {
  .product-box {
    max-width: 100%;
  }

  .products-wrapper {
    margin-left: -15%;
  }

  .product-info {
    margin-left: 17%;
  }

  .cart-box {
    margin-left: 7%;
    top: 11.7%;
  }

  .product-detail {
    width: 100%;
    left: 0;
    flex-direction: column;
  }

  .add-to-cart-container {
    width: 80vh;
    align-items: center;
    right: 50%;
  }

  .product-cart-box {
    margin-left: 3%;
  }

  .thumbnail {
    width: 80px;
    height: 80px;
  }

  .attribute-name {
    font-size: 16px;
    margin-left: 5%;
  }

  .product-name-pdp {
    font-size: 20px;
    margin-left: 5%;
  }

  .price-value {
    font-size: 16px;
    margin-left: 5%
  }

  .size-box {
    flex-wrap: wrap;
    gap: 12px;
    width: 50px;
    height: 40px;
    opacity: 0;
  }

  .color-box {
    width: 30px;
    height: 30px;
  }




  /* Make sure the image fully scales without clipping */
  img.main-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    /* Ensures the entire image is visible */

  }

  /* Optional: If the parent container has restricted width/height */
  .product-images-container {
    width: 100%;
    /* or set a specific max-width */
    height: auto;
    /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
  }


  .currency-selector {
    margin-left: 50%;
    top: 40%;
    width: 17%;
    position: absolute;
    border-radius: 8px;
    padding: 10px 9px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.3s ease;
    border: #ccc;
    font-size: 10px;
  }

  .cart-icon {
    margin-left: 25%;
  }

  .categories-list {
    margin-left: 0%;
  }
}

/* Specific adjustments for medium-sized screens */
@media (min-width: 767px) and (max-width: 992px) {
  .product-box {
    max-width: 100%;
  }



  .cart-box {
    width: 325px;
    height: 628px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: -11%;
    margin-top: 3%;
  }

  .currency-selector {
    margin-left: 55%;
    top: 40%;
    width: 17%;
    position: absolute;
    border-radius: 8px;
    padding: 10px 9px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.3s ease;
    border: #ccc;
    font-size: 10px;
  }

  .navbar {
    padding: 10px 15px;
  }

  .attribute-container {
    margin-left: 0px;
    opacity: 0;
  }

  .product-info {
    margin-left: 30%;
  }
}


/* Adjustments for large screens */
@media (min-width: 993px) and (max-width: 1200px) {
  .product-box {
    max-width: 100%;
  }


  .cart-box {
    width: 325px;
    height: 628px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: -5%;
    margin-top: 2.5%;
  }

  .currency-selector {
    margin-left: 60%;
    top: 40%;
    width: 17%;
    position: absolute;
    border-radius: 8px;
    padding: 10px 9px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.3s ease;
    border: #ccc;
    font-size: 10px;
  }
}

/* Very large screens (above 1200px) */
@media (min-width: 1201px) {
  .cart-box {
    width: 325px;
    height: 628px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 2%;
    margin-left: 4%;

  }


}


@media (min-width:499px) and (max-width:579px) {
  .cart-box {
    margin-left: -40%;
    top: 15%;
  }

}

@media (min-width:580px) and (max-width:601px) {
  .cart-box {
    margin-left: -55%;
    top: 15%;
  }

}
@media (min-width:499px) and (max-width:501px) {
  .cart-box {
    margin-left: 10%;
    top: 15%;
  }

}
@media (min-width:601px) and (max-width:767px) {
  .cart-box {
    margin-left: -42%;
    top: 15%;
  }

}

@media (min-width:767px) and (max-width:800px) {
  .cart-box {
    margin-left: -41%;
    top: 17%;
  }

}